@media screen and (max-width: 6000px) {

    .adaptive-content-div{
        margin-top: 70px;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .lk-full-page-card {
        width: 100%;
        height: calc(100vh - 85px);
    }

    .lk-full-page-card .v-card-text {
        height: calc(100vh - 205px);
        overflow: auto;
        background: white;
    }

    .adaptive-alerts {
        font-size: 18px;
        width: 45vw;
        right: 5px;
        bottom: 5px;
    }

    .adaptive-login-card {
        top: 25vh;
        right: 5%;
        width: 35vw;
        height: 50vh;
    }

    .adaptive-login-card-text{
        height: 48vh;
    }

    .adaptive-login-button {
        width: 55%;
    }

    .adaptive-registration-dialog{
        max-width: 80%;
    }

    .adaptive-main-card-text-height {
        height: 600px;
    }

    .adaptive-change-pass-dialog{
        width: 50vw;
    }

    .adaptive-no-tab-table-card-text {
        height: 92vh;
    }

    .adaptive-dialog-with-tabs-div {
        height: 60vh;
    }

}

@media screen and (max-width: 2560px) {

    .lk-full-page-card .v-card-text {
        height: calc(100vh - 200px);
        overflow: auto;
        background: white;
    }

    .adaptive-kug-table {
        height: 55vh;
    }

    .adaptive-alerts {
        font-size: 16px;
        width: 40vw;
        right: 5px;
        bottom: 5px;
    }

    .adaptive-login-card {
        top: 20vh;
        right: 5%;
        width: 37vw;
        height: 60vh;
    }

    .adaptive-login-card-text{
        height: 56vh;
    }

    .adaptive-login-button {
        width: 65%;
    }

    .adaptive-main-card-text-height {
        height: 500px;
    }

    .adaptive-no-tab-table-card-text {
        height: 90vh;
    }

}

@media screen and (max-width: 1920px) {

    .lk-full-page-card .v-card-text {
        height: calc(100vh - 180px);
        overflow: auto;
        background: white;
    }

    .adaptive-login-card {
        top: 15vh;
        right: 5%;
        width: 37vw;
        height: 70vh;
    }

    .adaptive-login-card-text{
        height: 68vh;
    }

    .adaptive-login-button {
        width: 80%;
    }

    .adaptive-main-card-text-height {
        height: 350px;
    }

    .adaptive-no-tab-table-card-text {
        height: 88vh;
    }

}

@media screen and (max-width: 1280px) {

    .adaptive-login-card {
        top: 5vh;
        right: 2%;
        width: 50vw;
        height: 90vh;
    }

    .adaptive-login-card-text{
        height: 84vh;
    }

    .adaptive-login-button {
        width: 95%;
    }

    .adaptive-registration-dialog{
        max-width: 100%;
    }
}

@media screen and (max-width: 960px) {

    .v-card-text {
        padding: 0 !important;
    }

    .adaptive-kug-table {
        height: 80vh;
    }

    .adaptive-login-card {
        top: 0;
        right: 12.5vw;
        width: 75vw;
        height: 100vh;
    }

    .adaptive-login-card-text{
        height: 94vh;
    }

    .adaptive-login-button {
        width: 100%;
    }

    .adaptive-change-pass-dialog{
        width: 100vw;
    }

    .adaptive-no-tab-table-card-text {
        height: 91vh;
    }
}

@media screen and (max-width: 600px) {

    .adaptive-content-div{
        margin-top: 45px;
        margin-right: 0;
        margin-left: 0;
    }

    .login-card-title {
        width: 100vw;
    }

    .lk-full-page-card {
        width: 100%;
        height: calc(100vh - 45px);
    }

    .lk-full-page-card .v-card-text {
        height: calc(100vh - 150px);
        overflow: auto;
        background: white;
    }

    .adaptive-login-card {
        right: 0;
        width: 100vw;
        height: 100vh;
    }

    .adaptive-login-card-text{
        height: 100vh;
    }

    .adaptive-login-button {
        width: 100%;
    }

    .adaptive-alerts {
        font-size: 16px;
        width: 100vw;
        right: 0;
        bottom: 0;
    }

    .adaptive-no-tab-table-card-text {
        height: 94vh;
    }

}