@media screen and (max-width: 6000px) {

    .v-card-title {
        background-color: #373c59;
        color: white;
    }

    .v-card-text {
        width: 100%;
        background-color: white;
        padding: 0;
    }

    .v-text-field input{
        width: 100%;
    }

    .adaptive-nav-list-item .v-list-item-title,
    .adaptive-side-menu-permanent,
    .adaptive-side-menu-prominent{
        font-size: 24px !important;
    }

    .v-card .v-card-title,
    .v-card .v-card-text,
    .v-tab.v-tab.v-btn,
    .v-selection-control .v-label,
    .v-btn__content,
    .v-select .v-field .v-field__input,
    .v-alert__content,
    .v-text-field input,
    .v-list-item--nav .v-list-item-title {
        font-size: 32px;
    }

    .v-field--center-affix .v-label.v-field-label,
    .v-alert-title {
        font-size: 24px;
    }

    .v-messages__message {
        font-size: 20px;
    }

    .v-field__prepend-inner > .v-icon, .v-field__append-inner > .v-icon, .v-field__clearable > .v-icon {
        font-size: 2rem;
    }
}

@media screen and (max-width: 2560px) {

    .adaptive-nav-list-item .v-list-item-title,
    .adaptive-side-menu-permanent,
    .adaptive-side-menu-prominent{
        font-size: 20px !important;
    }

    .adaptive-nav-list-item .v-list-item-title {
        font-size: 26px !important;
    }

    .v-card .v-card-title,
    .v-card .v-card-text,
    .v-tab.v-tab.v-btn,
    .v-selection-control .v-label,
    .v-btn__content,
    .v-select .v-field .v-field__input,
    .v-alert__content,
    .v-text-field input,
    .v-list-item--nav .v-list-item-title {
        font-size: 26px;
    }

    .v-field--center-affix .v-label.v-field-label,
    .v-alert-title {
        font-size: 20px;
    }

    .v-messages__message {
        font-size: 18px;
    }

    .v-field__prepend-inner > .v-icon, .v-field__append-inner > .v-icon, .v-field__clearable > .v-icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1920px) {

    .adaptive-nav-list-item .v-list-item-title,
    .adaptive-side-menu-permanent,
    .adaptive-side-menu-prominent{
        font-size: 16px !important;
    }

    .v-card .v-card-title,
    .v-card .v-card-text,
    .v-tab.v-tab.v-btn,
    .v-selection-control .v-label,
    .v-btn__content,
    .v-select .v-field .v-field__input,
    .v-alert__content,
    .v-text-field input,
    .adaptive-side-menu-permanent,
    .adaptive-side-menu-prominent {
        font-size: 18px;
    }

    .v-field--center-affix .v-label.v-field-label,
    .v-alert-title {
        font-size: 16px;
    }

    .v-messages__message {
        font-size: 14px;
    }
}