.adaptive-no-tab-table {
    height: 100%;
}

.adaptive-tab-table {
    height: 94%;
}

.selected-row, .table-row-click:hover {
    background-color: #FF5722;
    color: white;
    cursor: pointer;
}

.selected-row {
    cursor: auto !important;
}